.container {
    display: grid;
    grid-template-columns: 20vw auto;
    height: 100vh;
}

.main {
    margin-top: 5%;
    grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: -1;
    
}